[submodule ".vim_runtime/sources_non_forked/racer"]
	path = .vim_runtime/sources_non_forked/racer
    url = git@github.com:phildawes/racer.git
[submodule ".vim_runtime/sources_non_forked/rust.vim"]
	path = .vim_runtime/sources_non_forked/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule ".vim_runtime/sources_non_forked/syntastic"]
	path = .vim_runtime/sources_non_forked/syntastic
    url = git@github.com:scrooloose/syntastic.git
[submodule ".vim_runtime/sources_non_forked/tagbar"]
	path = .vim_runtime/sources_non_forked/tagbar
    url = git@github.com:majutsushi/tagbar.git
[submodule ".vim_runtime/sources_non_forked/tlib"]
    path = .vim_runtime/sources_non_forked/tlib
    url = git@github.com:vim-scripts/tlib.git
[submodule ".vim_runtime/sources_non_forked/ultisnips"]
	path = .vim_runtime/sources_non_forked/ultisnips
    url = git@github.com:SirVer/ultisnips.git
[submodule ".vim_runtime/sources_non_forked/unite.vim"]
	path = .vim_runtime/sources_non_forked/unite.vim
    url = https://github.com/Shougo/unite.vim.git
[submodule ".vim_runtime/sources_non_forked/vim-airline"]
	path = .vim_runtime/sources_non_forked/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim_runtime/sources_non_forked/vim-bookmarks"]
	path = .vim_runtime/sources_non_forked/vim-bookmarks
    url = git@github.com:MattesGroeger/vim-bookmarks.git
[submodule ".vim_runtime/sources_non_forked/vim-flake8"]
	path = .vim_runtime/sources_non_forked/vim-flake8
    url = git@github.com:nvie/vim-flake8.git
[submodule ".vim_runtime/sources_non_forked/vim-fugitive"]
	path = .vim_runtime/sources_non_forked/vim-fugitive
    url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim_runtime/sources_non_forked/vim-gitgutter"]
	path = .vim_runtime/sources_non_forked/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim_runtime/sources_non_forked/vim-go"]
	path = .vim_runtime/sources_non_forked/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule ".vim_runtime/sources_non_forked/vim-godef"]
	path = .vim_runtime/sources_non_forked/vim-godef
    url = git@github.com:dgryski/vim-godef.git
[submodule ".vim_runtime/sources_non_forked/vim-misc"]
	path = .vim_runtime/sources_non_forked/vim-misc
    url = git@github.com:xolox/vim-misc.git
[submodule ".vim_runtime/sources_non_forked/YouCompleteMe"]
	path = .vim_runtime/sources_non_forked/YouCompleteMe
    url = git@github.com:Valloric/YouCompleteMe.git
