Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
!Xcursor.theme: neutral
!Xcursor.size: 48
! URxvt
URxvt*termName: rxvt
URxvt*scrollBar_right:	false
URxvt*scrollBar:	false
URxvt*borderLess:	false
URxvt*inheritPixmap:	false
URxvt*urgentOnBell: true
URxvt*geometry:		90x24
URxvt*tint:		white
!#URxvt.font: xft:DejaVu Sans Mono:pixelsize=12
!#URxvt.font: xft:Monospace:pixelsize=24
!URxvt.font: xft:Droid Sans Mono for Powerline:pixelsize=22
URxvt.buffered: true

! -- Colours -- !
#include "/home/klim/.colors/custom"

!*dpi	168
