Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
!Xcursor.theme: neutral
!Xcursor.size: 48
! URxvt
URxvt*termName: rxvt
URxvt*scrollBar_right:	false
URxvt*scrollBar:	false
URxvt*borderLess:	false
URxvt*inheritPixmap:	false
URxvt*urgentOnBell: true
URxvt*geometry:		90x24
URxvt*tint:		white
!#URxvt.font: xft:DejaVu Sans Mono:pixelsize=12
!#URxvt.font: xft:Monospace:pixelsize=24
!URxvt.font: xft:Droid Sans Mono for Powerline:pixelsize=22
URxvt.buffered: true

! -- Links -- !
!URxvt*perl-ext-common: default,matcher
!URxvt*urlLauncher: /bin/firefox
!URxvt*matcher.Button: 1

! Keyboard-select
URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.C-S-S: perl:keyboard-select:search
! Url-select
URxvt.keysym.C-S-U: perl:url-select:select_next
URxvt.url-select.autocopy: true
URxvt.url-select.button: 1
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: true

! -- Colours -- !
#include "/home/klim/.colors/custom"

!*dpi	168
